{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph-id--' ~ paragraph.id(),
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
]
%}
{% set columns = paragraph.field_colm_number_of_columns.value %}
{% if paragraph.field_colm_bkgd_color_option.0.value.color|render %}
  {% set backColor = paragraph.field_colm_bkgd_color_option.0.value.color %}
  {% set blockPadding = 'block-padding' %}
{% endif %}
{% set width = paragraph.field_colm_width.value %}
{% set layout = paragraph.field_colm_column_layout.value %}
{% set buttonBackColor = paragraph.field_colm_btn_bkgd_color.0.value.color %}

  {% if layout == '75' %}
    {% set layout_1 = 'col-8' %}
    {% set layout_2 = 'col-4' %}
  {% elseif layout == '25' %}
    {% set layout_1 = 'col-4' %}
    {% set layout_2 = 'col-8' %}
  {% endif %}

{% set par1 = paragraph.field_colm_element_selection.0.entity.target_id %}
{% set par2 = paragraph.field_colm_element_selection.1.entity.target_id  %}

{% if paragraph.field_colm_add_gutters.value == TRUE %}
  {% set gutters = 'gutters' %}
{% endif %}

{% block paragraph %}
  <div{{attributes.addClass(classes, blockPadding)}} style="background-color:{{ backColor }};">
    <section class="{{ width }}">
      <h2>{{ content.field_colm_section_title }}</h2>
      {{ content.field_colm_element_intro_text }}
      {% if (layout == '25') or (layout == '75') %}
        {% for key, item in paragraph.field_colm_element_selection %}
          {% if key == '0' %}
            <div class="col {{ layout_1 }} {{ gutters }}">
              {{ drupal_entity('paragraph', item.target_id) }}
            </div>
          {% endif %}
        {% endfor %}
        {% for key, item in paragraph.field_colm_element_selection %}
          {% if key == '1' %}
            <div class="col {{ layout_2 }} {{ gutters }}">
              {{ drupal_entity('paragraph', item.target_id) }}
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for item in paragraph.field_colm_element_selection %}
          <div class="col {{ columns }} {{ gutters }}">
            {{ drupal_entity('paragraph', item.target_id) }}
          </div>
        {% endfor %}
      {% endif %}


      {% if content.field_colm_button_link|render %}
        <div class="clearfix btn {{ gutters }}" style="background-color:{{ buttonBackColor }}"> {{ content.field_colm_button_link }}</div>
      {% endif %}
    </section>
  </div>
{% endblock paragraph %}

